@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';
@import '~@swimlane/ngx-datatable/themes/dark.scss';
@import '~@swimlane/ngx-datatable/themes/bootstrap.scss';

.action-table-btn-class{
    margin-top: 0;
}

.action-create-btn-class{
    --ion-color-primary: #ffffff;
}

.datatable-margin-left-class > ngx-datatable{
    margin-left: 10px;
}
